---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$font-family:  "Vollkorn",serif;
$font-size:    16px;

$background-color:  #FEFEFE;
$font-color:        #555;
$primary-color:     #CB0063;

$on-palm:           600px;
$on-laptop:         800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin vertical-rhythm {
  margin-bottom: 1rem;
}

@mixin block-width {
  max-width: 800px;
  margin: auto;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "syntax-highlighting"
;
