html { overflow: hidden; }


.step { width: 1060px; padding: 40px 0; }
.impress-enabled .step { margin: 0; opacity: 0.1; transition: opacity 1s; }
.impress-enabled .step.active { opacity: 1.0; }
.impress-on-overview .step { opacity: 0.9; }

/*  Fonts & Colours  	*/
/*@font-face { font-family: 'Crafty Girls'; font-style: normal; font-weight: 400; src: local('Crafty Girls'), local('CraftyGirls'), url(craftygirls.woff) format('woff'); }*/
body { font-family: 'Crafty Girls', cursive, Arial, sans-serif; text-align: center; font-size: 40px; background: #FFF; color: #666; }
h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }
h4,h5, h6 { font-size: 1.5em; }
p { display: none; }
pre, ul, ol { text-align: left; }
code.prettyprint { background: #FFF; font-size: .8em;}
h4 a { display: block; text-align: right; color: #009ACD; text-decoration: none;}
.step.active { color: #333; }

/*		Images			*/
.impress-on-tests-yeah { background: url(../images/production.jpg) no-repeat center; background-size: contain; }
.impress-on-tdd-rejoice, .impress-on-rspec-rejoice, .impress-on-minitest-born,.impress-on-minitest-rejoice { background: url(../images/much_rejoicing.jpg) no-repeat center; background-size: contain;}
.impress-on-fatty { background: url(../images/fat-kid.jpg) no-repeat center; background-size: contain;}
.impress-on-dhh-angry { background: url(../images/dhh.jpg) no-repeat center; background-size: contain;}
.impress-on-eyes-hurt { background: url(../images/mini-eyes.jpg) no-repeat center; background-size: contain; }
.impress-on-bloat { background: url(../images/donuts.jpg) no-repeat center; background-size: contain; }
.impress-on-eyes-bleed { background: url(../images/mini-eyes.jpg) no-repeat center; background-size: contain; }


/*		Impress.js		*/
.impress-supported .fallback-message {
	display: none;
}
.step {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.impress-enabled .step {
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.present .positioning {
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
}
.present .rotating {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
	-webkit-transition-delay: 0.25s;
	-moz-transition-delay: 0.25s;
	-ms-transition-delay: 0.25s;
	-o-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
.present .scaling {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	transition-delay: 0.5s;
}