---
layout: default
title: BrisRuby
---

<div class="home">

  <header class="post-header">
    <h1 class="post-header-title">{{ page.title }}</h1>
  </header>

  <section id="info">
    <p>{{ site.description }}</p>
  </section>

  <section id="next-meetup">
    <h3>Upcoming Talks</h3>
    {% include forthcoming.html %}
  </section>

  <section id="location">
    <p>{{ site.location }}</p>
  </section>

  <section id="posts">
    <h3>Recent Ramblings</h3>
    {% include post-list.html %}
  </section>

</div>
