<div class="footer">
  <ul class="footer-menu">
  	<li class="footer-menu-item"><a href="http://www.meetup.com/BrisRuby/">Meetup</a></li>
  	<li class="footer-menu-item"><a href="https://github.com/BrisRuby">GitHub</a></li>
  	<li class="footer-menu-item"><a href="https://twitter.com/brisbaneruby">Twitter</a></li>
    <li class="footer-menu-item"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
  </ul>
</div>

<!-- load automatic code highlighting -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>