<div class="footer">
  <ul class="footer-menu">
  	<li class="footer-menu-item">
      <a href="https://meetup.com/brisruby" rel="nofollow"><i class="fa fa-glass" title="meetups"></i></a>
    </li>
  	<li class="footer-menu-item">
      <a href="https://github.com/brisruby" rel="nofollow"><i class="fa fa-github" title="github"></i></a>
    </li>
  	<li class="footer-menu-item">
      <a href="https://twitter.com/brisruby" rel="nofollow"><i class="fa fa-twitter" title="twitter"></i></a>
    </li>
    <li class="footer-menu-item">
      <a href="mailto:hello@brisruby.org" rel="nofollow"><i class="fa fa-envelope" title="email"></i></a>
    </li>
    <li class="footer-menu-item">
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" rel="nofollow"><i class="fa fa-rss" title="RSS"></i></a>
    </li>
  </ul>
</div>

<!-- load automatic code highlighting -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>