<div class="header">
  <div class="header-icon"><a href="{{ '/' | prepend: site.baseurl }}"><i class="fa fa-diamond" title="BrisRuby"></i></a></div>
  <ul class="header-menu">
    <li class="header-menu-item"><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
    <li class="header-menu-item"><a href="{{ "/talks" | prepend: site.baseurl }}">Talks</a></li>
    <li class="header-menu-item"><a href="{{ "/meetups" | prepend: site.baseurl }}">Meetups</a></li>
    <li class="header-menu-item"><a href="{{ "/people" | prepend: site.baseurl }}">People</a></li>
  </ul>
</div>