<li class="person">
  <div class="img-box">
    <img src="{{ person.picture }}" alt="{{ person.name }}" class="mugshot" />
    <div class="icons">
    {% if person.github %}
      <a href="https://github.com/{{person.github}}" rel="nofollow"><i class="fa fa-github"></i></a>
    {% endif %}
    {% if person.twitter %}
      <a href="https://twitter.com/{{person.twitter}}" rel="nofollow"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if person.email %}
      <a href="mailto:{{person.email}}" rel="nofollow"><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if person.website %}
      <a href="{{person.website}}"><i class="fa fa-home"></i></a>
    {% endif %}        
    </div>
  </div>
  {{ person.content }}
</li>