

article-summary {
  text-align:center;
}

article-summary-title {
	
}

article-summary-meta {
	
}



article {

}


article-title {
  text-align:center;
}

article-meta {
  text-align:center;
}

article-content {
	
}