*, *:before, *:after {
    box-sizing: border-box;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
}

html {
  color: $font-color;
  background-color: $background-color;
  font-size: $font-size;
  font-family: $font-family;
  text-rendering: optimizelegibility;
  line-height: 1.5;
  height: 100%;
  border-top: 5px solid $primary-color;
}

body {
  margin:0;
}

h1, h2, h3, h4, h5, p, blockquote, ul, ol, pre { 
  @include block-width;
  @include vertical-rhythm;
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font-family;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

ul, ol {
  list-style: none;
  padding: 0;

  li {
    margin: 0;
  }
}

pre {
  padding: 0 1rem;
  overflow-x: scroll;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:visited {
    color: $primary-color;
  }
  &:hover {
    color: lighten($primary-color, 15%);
  }
}


.wrapper {
  margin:2em;
}

//--- Pages ---//



.page-content {
  margin-top: 100px;
}

