*, *:before, *:after {
    box-sizing: border-box;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
}

html {
  color: $font-color;
  background-color: $background-color;
  font-size: $font-size;
  font-family: $font-family;
  text-rendering: optimizelegibility;
  line-height: 1.5;
  height: 100%;
  border-top: 5px solid $primary-color;
}

h1, h2, h3, h4, h5, p, blockquote, ul, ol, pre { 
  @include block-width;
  @include vertical-rhythm;
  font-size: 1.2rem;
}

ul, ol {
  list-style: none;
  padding: 0;

  li {
    margin: 0;
  }
}

pre {
  padding: 0 1rem;
  overflow-x: scroll;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:visited {
    color: $primary-color;
  }
  &:hover {
    color: lighten($primary-color, 15%);
  }
}

//--- Menu ---//

#menu {

  position: fixed;

  .trigger {
    font-size: 3rem;
    position: fixed;
    top: 1rem;
    left: 2rem;
  }

  li {
    margin-left: 1.25rem;
  }

  .fa-diamond {
    transition: 300ms ease all;

    &:hover {
      transform: rotate(-15deg);
    }
  }

}

//--- Pages ---//

.list {
  li {
    margin-bottom: 2rem;
  }
}

.page-content {
  margin-top: 100px;
}

.post.meta {
  margin-top: -1.25rem;
  color: lighten($font-color, 15%);
  font-size: 1rem;
}

article {
  h1, h2, h3, h4, h5 {
    font-size: 1.2rem;
    line-height: 1;
    text-align: center;
    margin: 3rem auto;
  }
}