//--- footer ---//

.footer {
  background-color: lighten($primary-color, 50);
}

.footer-menu {
  padding: 1rem;
  text-align: center;
  margin-bottom: 0;
}

.footer-menu-item {
  display: inline;
  padding: 1rem;
}