//--- header ---//

.header {
  text-align:center;
  background-color:grey;
}

.header-menu {
  padding: 1rem;
  text-align: center;
  margin-bottom: 0;
}

.header-icon {

  //display: inline;
  font-size: 3rem;


  transition: 300ms ease all;
  
  &:hover {
    transform: rotate(-15deg);
  }

}

.header-menu-item {
  display: inline;
  padding: 1rem;
}
