//--- header ---//

.header {

}

.header-menu {
  //text-align:center;
  //padding-top:1.5rem;
  //padding-bottom:1rem;
  //padding-left:5rem;
  //padding-right:5rem;

  @include outer-container;
}

.header-menu-item {
  display:inline;
    @include span-columns(1);
  @include shift(2);


}

.header-icon {

  font-size: 3rem;
  position: fixed;
  top: 1rem;
  left: 2rem;

  transition: 300ms ease all;
  
  &:hover {
    transform: rotate(-15deg);
  }

}
