//--- meetup ---//

.meetup-list-item {
	//padding-bottom:2rem;
	border-top: 1px;
}

.meetup-header {
   text-align:center;
}

.meetup-header-title {
  font-size: 2rem;
}

.meetup-header-meta {
  margin-top: -1rem;
  color: lighten($font-color, 15%);
}

hr {
  margin:3rem 18rem;
}