
//--- post-summary ---//

.post-summary {
  text-align:center;
}

.post-summary-title {
   
}

.post-summary-meta {
   margin-top: -1rem;
}


//--- post ---//

.post {
  li { 
    list-style-position: inside;
    list-style: disc;
    margin-left: 2rem;
  }
  
}

.post-header {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.post-header-title {
  font-size: 2rem;
}

.post-header-meta {
  margin-top: -1rem;
  color: lighten($font-color, 15%);
}

.post-content {
  margin-bottom: 5rem;
}

.post-footer {
  margin: 0 auto;
  margin-top: 4rem;

  li {
    list-style: none;
    margin-left: 0;
  }

  .person {
    border-bottom: none;
  }
}


//--- post-navigation ---//

.post-navigation {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.post-navigation-left {

}

.post-navigation-right {
  float: right;
}



