---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-header-title">{{ page.title }}</h1>
    <p class="post-header-meta">
      {{ page.date | date: "%b %-d, %Y" }}
        {% if page.author %}
          • {{ page.author }}
        {% endif %}
        {% if page.meta %}
          • {{ page.meta }}
        {% endif %}</p>
  </header>
  
  <article class="post-content">
    {{ content }}
  </article>

  {% if page.status == 'published' %}
  <footer class="post-footer">
    <h2>About the author</h2>
    {% for person in site.people %}
      {% if person.name == page.author %}
        {% include person.html %}
      {% endif %}
    {% endfor %}
  </footer>
  {% endif %}
  
</div>


<div class="post-navigation">
  <hr />
  <div class="post-navigation-left">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
  </div>

  <div class="post-navigation-right">
    {% if page.next.url %}
      <a href="{{page.next.url}}">{{page.next.title}} &raquo; </a>
    {% endif %}
  </div>
</div> 

