---
layout: default
title: Meetups
permalink: /meetups/
---

<p> We meet at Toowong Library on the 4th Tuesday of every month. Kick off at 6pm </p>

<p> More info is available at http://www.meetup.com/Brisruby/</p>

<ul class="meetups list">
{% for post in site.posts %}
  {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
  {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
    {% if month != nmonth %}
      {% if forloop.index != 1 %}</ul>{% endif %}
        <h3>{{ post.date | date: '%B %Y' }}</h3><ul>
    {% endif %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}