<div class="container">
  <section id="content">
    <%= form_tag do %>
        <h1>Login Form</h1>
        <div>
          <input type="text" placeholder="Username" required="" id="username" name="login" />
        </div>
        <div>
          <input type="submit" value="Log in" />
        </div>
    <% end %>
  </section>
</div>
